.news-card {
    border-radius: 4px;
    padding: 1rem;
    border: 2px solid dodgerblue;
    position: relative;
    background-color: #121212;
    overflow: hidden;

    .title {
        margin: 0 0 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
        text-align: center;
        border-bottom: solid crimson 2px;
    }

    .text {
        margin: 0 0 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }

    .featured {
        position: absolute;
        left: 8px;
        bottom: 8px;
        background-color: crimson;
        color: white;
        padding: 0.125rem .25rem;
        border-radius: 2px;
        font-size: 10px;

    }

    .date {
        text-align: end;
        color: #AAA;
        font-style: italic;
    }

    &:hover {
        .btn-container {
            right: 8px;
        }
    }

    .btn-container {
        position: absolute;
        top: 8px;
        right: -24px;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        transition: right 0.3s ease-in-out;
    }

    .deleteNews {
        background-color: crimson;
        color: white;
        padding: 0.125rem .25rem;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    .editNews {
        background-color: dodgerblue;
        color: white;
        padding: 0.125rem .25rem;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        outline: none;
    }
}
